.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}
