legend,
label[for="mensagem"] {
    font-weight: bold;
    margin-top: 1em;
}
label[for],
button {
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
button {
    border: 0;
    padding: .5em 1em;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    color: white;
    font-size: 1.2em;
    margin-left: auto;
    margin-top: 1em;
}
input:invalid {
    box-shadow: 0 0 3px red;
}
input:focus,
textarea:focus {
    background-color: #FFD;
}
button:focus {
    background-color: #8C1D3D;
}
fieldset > fieldset {
    display: inline;
}
label[for="outro"] {
    display: inline;
}
input[name="outro-assunto"] {
    width: auto;
}
